In [1]:
import pandas as pd

In [2]:
df_january = pd.read_parquet (r'D:\Python\Projects\NL_Automated_Reports\Testing\Data\fhv_tripdata_2021-01.parquet')
df_february = pd.read_parquet (r'D:\Python\Projects\NL_Automated_Reports\Testing\Data\fhv_tripdata_2021-02.parquet')
df = pd.concat([df_january, df_february])
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,NaN,NaN,None,B00009
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,NaN,NaN,None,B00009
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,NaN,NaN,None,B00013
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,NaN,72.0,None,B00037
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,NaN,61.0,None,B00037

In [31]:
df['duration']= ((df.dropOff_datetime - df.pickup_datetime ).dt.total_seconds())/60
df.PUlocationID = df.PUlocationID.astype(str)
df.DOlocationID = df.DOlocationID.astype(str)

In [32]:
df_train = df[df.pickup_datetime.dt.month==1]
df_train.shape

(1154112, 8)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 7 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            195845 non-null   float64
 4   DOlocationID            991892 non-null   float64
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
dtypes: datetime64[ns](2), float64(2), object(3)
memory usage: 61.6+ MB

In [6]:
df['duration']= ((df.dropOff_datetime - df.pickup_datetime ).dt.total_seconds())/60
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,nan,nan,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,nan,nan,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,nan,nan,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,nan,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,nan,61.0,None,B00037,15.216667

In [28]:
df_train.describe()

        PUlocationID   DOlocationID      duration
count  195845.000000  991892.000000  1.154112e+06
mean      139.859690     135.898030  1.916722e+01
std        74.991382      80.474902  3.986922e+02
min         1.000000       1.000000  1.666667e-02
25%        75.000000      67.000000  7.766667e+00
50%       143.000000     132.000000  1.340000e+01
75%       206.000000     213.000000  2.228333e+01
max       265.000000     265.000000  4.233710e+05

In [30]:
percent_missing = df_train.isnull().sum() * 100 / len(df_train)
missing_value_df = pd.DataFrame({'column_name': df_train.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', inplace=True)
missing_value_df

                                   column_name  percent_missing
dispatching_base_num      dispatching_base_num         0.000000
pickup_datetime                pickup_datetime         0.000000
dropOff_datetime              dropOff_datetime         0.000000
duration                              duration         0.000000
Affiliated_base_number  Affiliated_base_number         0.076682
DOlocationID                      DOlocationID        14.055828
PUlocationID                      PUlocationID        83.030676
SR_Flag                                SR_Flag       100.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            1154112 non-null  object
 4   DOlocationID            1154112 non-null  object
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
 7   duration                1154112 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 70.4+ MB

In [9]:
df.PUlocationID = df.PUlocationID.astype(str)
df. DOlocationID = df.DOlocationID.astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154112 entries, 0 to 1154111
Data columns (total 8 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   dispatching_base_num    1154112 non-null  object
 1   pickup_datetime         1154112 non-null  datetime64[ns]
 2   dropOff_datetime        1154112 non-null  datetime64[ns]
 3   PUlocationID            1154112 non-null  object
 4   DOlocationID            1154112 non-null  object
 5   SR_Flag                 0 non-null        object
 6   Affiliated_base_number  1153227 non-null  object
 7   duration                1154112 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 70.4+ MB

In [18]:
df.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,duration
0,B00009,2021-01-01 00:27:00,2021-01-01 00:44:00,nan,nan,None,B00009,17.000000
1,B00009,2021-01-01 00:50:00,2021-01-01 01:07:00,nan,nan,None,B00009,17.000000
2,B00013,2021-01-01 00:01:00,2021-01-01 01:51:00,nan,nan,None,B00013,110.000000
3,B00037,2021-01-01 00:13:09,2021-01-01 00:21:26,nan,72.0,None,B00037,8.283333
4,B00037,2021-01-01 00:38:31,2021-01-01 00:53:44,nan,61.0,None,B00037,15.216667

In [13]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler, StandardScaler

X = df[['PUlocationID', 'DOlocationID', 'duration']]
X_train,y_train = X.drop('duration', axis=1), X.duration
cat_features = ['PUlocationID', 'DOlocationID']

def feature_transformation(X,cat_features):
    # Define Transformers                                                                       
    #categorical_transformer = OrdinalEncoder()
    categorical_transformer = OneHotEncoder()
    t = [(('cat', categorical_transformer, cat_features))]
    preprocesor = ColumnTransformer(transformers = t,remainder='passthrough' )

    steps = [('preprocesor',preprocesor),
         
        ]
# define the pipeline
    pipeline = Pipeline(steps=steps) 
    X_scaled = pipeline.fit_transform(X)
    return X_scaled

X_train_scaled =  feature_transformation(X_train,cat_features)
X_train_scaled

D:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:395: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  check_array(X, dtype=np.int)
D:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:110: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_int = np.zeros((n_samples, n_features), dtype=np.int)
D:\Anaconda\lib\site-packages\sklearn\preprocessing\_encoders.py:111: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  X_mask = np.ones((n_samples, n_features), dtype=np.bool)

<1154112x525 sparse matrix of type '<class 'numpy.float64'>'
	with 2308224 stored elements in Compressed Sparse Row format>

In [22]:
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
import time
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
#from lightgbm import LGBMRegressor
from sklearn.dummy import DummyRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.model_selection import cross_val_score

#from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder
#from sklearn.compose import make_column_selector as selector
from sklearn.pipeline import Pipeline
#from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from math import sqrt
import warnings


def getting_data():
    df  = pd.read_parquet (r'D:\Python\Projects\NL_Automated_Reports\CRM\Predictive_Models\Applications_v1\Data\train_data.parquet')
    X, y = df.drop(['App'], axis=1).dropna(), df.dropna()['App']
    return X,y

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100


def feature_transformation(X):
   # Define Transformers                                                                       
    #categorical_transformer = OrdinalEncoder()
    categorical_transformer = OneHotEncoder()
    t = [(('cat', categorical_transformer, cat_features))]
    preprocesor = ColumnTransformer(transformers = t,remainder='passthrough' )

    steps = [('preprocesor',preprocesor),
         
        ]
# define the pipeline
    pipeline = Pipeline(steps=steps) 
    X_scaled = pipeline.fit_transform(X)
    return X_scaled
    return X_scaled



def fit_model(y, X_scaled):
        warnings.filterwarnings(action='ignore')
        regressors = {
        "DummyRegressor_mean": DummyRegressor(strategy='mean'),    
        #"LGBMClassifier": LGBMClassifier(),
       # "XGBRegressor": XGBRegressor(),
        "LinearRegression": LinearRegression(),
        #"KNeighborsRegressor": KNeighborsRegressor(3),    
        #"DecisionTreeRegressor": DecisionTreeRegressor(),
        #"RandomForestRegressor": RandomForestRegressor(),
        #"AdaBoostRegressor": AdaBoostRegressor(),
        #"GradientBoostingRegressor": GradientBoostingRegressor(),
        "Lasso":Lasso(),
        #"BaggingRegressor":BaggingRegressor(),
        #"ExtraTreesRegressor":ExtraTreesRegressor(),
        #"SVR":SVR(),
        #"NN":MLPRegressor(),
        }


        df_models = pd.DataFrame(columns=['model', 'run_time', 'root_mean_squared_error', 'mean_squared_error_std'])
        
        for key in regressors:
            print('*',key)

            start_time = time.time()

            regressor = regressors[key]
    
            model = regressor.fit(X_scaled, y)

            cv = cross_val_score(model, X_scaled, y, cv=2, scoring='neg_mean_absolute_error')

            row = {'model': key,
            'run_time': format(round((time.time() - start_time)/60,2)),
            'root_mean_squared_error': sqrt(cv.mean()*(-1)),
            'mean_squared_error_std': cv.std(),
        }

            df_models = df_models.append(row, ignore_index=True)
        return df_models


    


X_scaled = feature_transformation(X_train)
df_models = fit_model(y_train, X_scaled)
df_models.sort_values(by='root_mean_squared_error', ascending=True,inplace=True)
df_models

* DummyRegressor_mean
* LinearRegression
* Lasso

,model,run_time,root_mean_squared_error,mean_squared_error_std
1,LinearRegression,0.46,2.822083,0.044539
0,DummyRegressor_mean,0.0,2.979194,0.063666
2,Lasso,0.05,2.979194,0.063666

In [33]:
def feature_transformation(X,cat_features):
    # Define Transformers                                                                       
    #categorical_transformer = OrdinalEncoder()
    categorical_transformer = OneHotEncoder()
    t = [(('cat', categorical_transformer, cat_features))]
    preprocesor = ColumnTransformer(transformers = t,remainder='passthrough' )

    steps = [('preprocesor',preprocesor),     
        ]
# define the pipeline
    pipeline = Pipeline(steps=steps) 
    X_scaled = pipeline.fit_transform(X)
    return X_scaled

df_train_copy= df_train[(df_train.duration>=1) & (df_train.duration<=60)].copy(deep=True)
X = df_train_copy[['PUlocationID', 'DOlocationID', 'duration']]

X_train,y_train = X.drop('duration', axis=1), X['duration'].values
cat_features = ['PUlocationID', 'DOlocationID']
X_scaled = feature_transformation(X_train,cat_features)
regressor = LinearRegression()
model = regressor.fit(X_scaled, y_train)

In [34]:
from sklearn.metrics import mean_squared_error
predictions = model.predict(X_scaled)
rmse = sqrt(mean_squared_error(y_train, predictions))
rmse

10.528519107204994

In [ ]:
predictions = model.predict(X_scaled)
rmse = sqrt(mean_squared_error(y_train, predictions))
rmse

In [3]:
from sklearn.feature_extraction import DictVectorizer

D:\Anaconda\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [5]:
df_january['duration']= ((df_january.dropOff_datetime - df_january.pickup_datetime ).dt.total_seconds())/60
df_january = df_january[(df_january.duration >= 1) & (df_january.duration <= 60)]
categorical = ['PUlocationID', 'DOlocationID']
numerical = ['duration']
df_january[categorical] = df_january[categorical].astype(str)
train_dicts = df_january[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_train = dv.fit_transform(train_dicts)

In [6]:
X_train

<1109826x526 sparse matrix of type '<class 'numpy.float64'>'
	with 3329478 stored elements in Compressed Sparse Row format>

In [7]:
df_february['duration']= ((df_february.dropOff_datetime - df_february.pickup_datetime ).dt.total_seconds())/60
df_february = df_february[(df_february.duration >= 1) & (df_february.duration <= 60)]
categorical = ['PUlocationID', 'DOlocationID']
numerical = ['duration']
df_february[categorical] = df_february[categorical].astype(str)
train_dicts = df_february[categorical + numerical].to_dict(orient='records')

dv = DictVectorizer()
X_test = dv.fit_transform(train_dicts)

In [8]:
X_test

<990113x527 sparse matrix of type '<class 'numpy.float64'>'
	with 2970339 stored elements in Compressed Sparse Row format>